:root {
    --cor-vermelha: #FC0021;
    --cor-preto: #090D17;
    --cor-branco: #FFFFFF;
    --cor-verde:#30AA68;
    --cor-cinza: #141927;

    --regular: 'mark-pro-regular';
    --bold: 'mark-pro-bold';
} 