footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor-vermelha);
    padding: 20px 30px;
}
footer p {
    font-family: var(--bold);
    font-size: clamp(0.8rem);
    color: white;
    text-align: center;
}
